<%= content_for(:scripts) do %>
  <%= javascript_include_tag :phaser %>
  <%= javascript_include_tag :boot %>
  <%= javascript_include_tag :preloader %>
  <%= javascript_include_tag :mainMenu %>
  <%= javascript_include_tag :game %>
<% end %>

<h1>Rick Rampage</h1>

<div id="gameContainer"></div>

<script>
  $(document).ready(function(){
    var game = new Phaser.Game(800, 500, Phaser.AUTO, 'gameContainer');

    // game.state.add('Boot', Rick.Boot);
    // game.state.add('Preloader', Rick.Preloader);
    // game.state.add('MainMenu', Rick.MainMenu);
    game.state.add('Game', Rick.Game);

    //game.state.start('Boot');
    game.state.start('Game');
  });
</script>

<div id="gameContainer"></div>

<script>
  $(document).ready(function(){
    var game = new Phaser.Game(800, 500, Phaser.AUTO, 'gameContainer');

    // game.state.add('Boot', Rick.Boot);
    // game.state.add('Preloader', Rick.Preloader);
    // game.state.add('MainMenu', Rick.MainMenu);
    game.state.add('Game', Rick.Game);

    //game.state.start('Boot');
    game.state.start('Game');
  });
</script>

<div class="score_div" id="stats">


	<h2>Player Stats:</h2>

	<table class="score_table">

	  <thead>
	    <tr>
	      <th class="score_th">Statistic</th>
	      <th class="score_th">Value</th>
	    </tr>
	  </thead>

	  <tbody>

	    <!--  <tr>

		      	<td class="score_th">Player ID</td>
			      	<%# if !current_user.id.nil? %>
			        	<td class="score_th"><%= current_user.id %></td>	
					<%# elsif %>
				        <td></td>
					<%# end %>

		  </tr> -->

		  <tr>

				<td class="score_th">Last Ranked</td>
					<!-- RANK -->
					<% k = 0 %>
			  		<% @scores.each do |score| %>
			  	  		<% k += 1 %>
			  	  		<% if score.user_id === current_user.id %>
			  	  			<td class="score_th"><%= k %></td>	
			  	  		<% end %>
			  	  	<% end %>	

		  </tr>

		  <tr>

				<td class="score_th">Latest Score</td>
		  		<!-- SCORE --> 	<!-- @score defined in statics_controller.rb -->
				<!--<td class="score_th"><%= @score %></td>-->

				<!-- Modify the CSS attribute to 'display: inline-block;' when a score exists (i.e. a user finishes the game and AJAX sends the score value), otherwise no current score displayed -->
				<td class="score_th" id="latest_score">

				</td> 

		  </tr>

		  <tr>

				<td class="score_th">History of Scores</td>

				<td class="score_th" id="all_scores">

				</td> 

		  </tr>

		  <tr>

				<td class="score_th">Time Left</td>
		  		<!-- TIME LEFT --> 	
				<td class="score_th"><%=  %>TBC</td>
		  </tr>

		  <tr>

				<td class="score_th">Lives Left</td>
		  		<!-- LIVES LEFT --> 	
				<td class="score_th"><%=  %>TBC</td>

		  </tr>

		<!--  <tr>

				<td class="score_th">Game Progress (%)</td> 	
				<td class="score_th"><%#= number_to_percentage(50, precision: 1) %></td>

		  </tr> -->

	  </tbody>

	</table>

</div>


<!--<div class="score_div">

	<h2>Latest Score Save:</h2>

	<%#= form_for @score, url: scores_path(remote: true), html: { method: :post, action: "create" } do |f| %>

		Enter Latest Score:
		  	<%#= f.text_field :score %>
			<%#= f.submit %>
	<%# end %>

</div> -->

<!-- 
	RELEVANT LINKS
http://stackoverflow.com/questions/18322637/rails-4-link-to-submit-form-using-ajax-how-to-imitate-post-request
http://apidock.com/rails/ActionView/Helpers/FormHelper/form_for
-->

<!-- # remote:true triggers AJAX functionality -->



<div class="score_div">

	<h2>Top Scores:</h2>

	<table class="score_table">

	  <thead>
	    <tr>
	      <th class="score_th">Rank</th>
	      <th class="score_th">Player</th>
		  <th class="score_th">Score</th>
	    </tr>
	  </thead>

	  <tbody>
	  	<% i = 0 %>
	  	<% @scores.each do |score| %>
	  	  <% i += 1 %>
	      <tr style="background-color:<%= cycle("#ffeeff", "#cceeff", name: "colors") -%>;">

			<!-- RANK -->
			<td class="score_th"><%= i %></td>	

	      	<!-- USER ID'S -->
	      	<% if !score.user_id.nil? %>
	        	<td class="score_th"><%= score.user_id %></td>	
			<% elsif %>
		        <td></td>
			<% end %>

			<!-- USER SCORE DETAILS -->
		    <% if !score.points.nil? %> 
		        <td class="score_th"><%= score.points %></td>
		    <% elsif %>
		        <td></td>
			<% end %>

		  </tr>
		<% end %>

		<% reset_cycle("colors") %>

	  </tbody>

	</table>

</div>


<!--<script id="score-template" type="text/template">
	<li><%#= latest_score %></li>
</script>-->

<script>

	var url = '';
	var urlPrefix = 'http://localhost:3000/scores/';
	var urlPostfix = '.json?remote=true';

	// adds current users latest score to the play statistics panel
	function addLatestScores(data) {
		var latestScore = document.getElementById('latest_score'); 
		latestScore.innerHTML = data;
	}


	// var fetchLatestScores = function() { 

	// create fn storing variable and within fn create function to getJSON



		// 	var latestScoreTemplate = $('#score-template').html();

		// 	// console.log(data.Search[0].score);

		// 	$(data.Search).each(function() { 
		// 		$('#latest_scores').append(_.template(latestScoreTemplate, { 
		// 			latest_score: this.score

		// 		}));
		// 	});

		// }

		// var res = $.ajax({ // save AJAX response to a variable
		// 	url: urlPrefix + $('form').find('input').val() + urlPostfix,
		// 	dataType: 'json',
		// 	type: 'get'
		// });

		// res.done(function(data) {
		// 	console.log(data);
		//   	addLatestScores(data);
		// })

	// }

	// $('form').on('submit', function(event) { // prevent default action of form being submitted
	// 	event.preventDefault();
	//  	console.log('submit form');
	//  	fetchLatestScores();
	// })

</script>
