<%= content_for(:scripts) do %>
  <%= javascript_include_tag :phaser %>
  <%= javascript_include_tag :boot %>
  <%= javascript_include_tag :preloader %>
  <%= javascript_include_tag :mainMenu %>
  <%= javascript_include_tag :game %>
<% end %>

<h1>Rick Rampage</h1>

<div id="gameContainer"></div>

<script>
  $(document).ready(function(){
    var game = new Phaser.Game(800, 500, Phaser.AUTO, 'gameContainer');

    // game.state.add('Boot', Rick.Boot);
    // game.state.add('Preloader', Rick.Preloader);
    // game.state.add('MainMenu', Rick.MainMenu);
    game.state.add('Game', Rick.Game);

    //game.state.start('Boot');
    game.state.start('Game');
  });
</script>


