<%= content_for(:scripts) do %>
  <%= javascript_include_tag :phaser %>
  <%= javascript_include_tag :boot %>
  <%= javascript_include_tag :preloader %>
  <%= javascript_include_tag :mainMenu %>
  <%= javascript_include_tag :game %>
<% end %>

<div id="container">

<!--<h1>Rick Rampage</h1>-->



<div id="gameContainer" class="blockCenter">
	<div class="score_div" id="tweeting">
		<br>
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="<%= current_user.twitter_handle if current_user %>" data-size="large" data-hashtags="rickyrampage" data-text=""></a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		</script>
	</div>
</div> <!-- end gameContainer -->

<script>
  $(document).ready(function(){
    var game = new Phaser.Game(800, 500, Phaser.AUTO, 'gameContainer');

    game.state.add('Boot', Rick.Boot);
    game.state.add('Preloader', Rick.Preloader);
    game.state.add('MainMenu', Rick.MainMenu);
    game.state.add('Game', Rick.Game);
    game.state.add('Scores', Rick.Scores);
    game.state.add('GameOver', Rick.GameOver);

    //game.state.start('Boot');
    game.state.start('Boot');
  });
</script>

<!--
<div class="score_div" id="testscoresave">

	<h2>Latest Score Save:</h2>

	<%#= form_for @score, url: scores_path(format: :json), remote: true, html: { method: :post } do |f| %>

		Enter Latest Score:<br>
		  	<%#= f.number_field :points %>
			<%#= f.submit %>
	<%# end %>

</div>
-->

</div> <!-- end container -->

<!-- <script>

	var url = '';
	var urlPrefix = 'http://localhost:3000/scores/';
	var urlPostfix = '.json?remote=true';

	// adds current users latest score to the play statistics panel
	function addLatestScores(data) {
		var latestScore = document.getElementById('latest_score'); 
		latestScore.innerHTML = data;
	}

	// DISUSED BUT WORKING
	//
	// upon form submission of score update the Player Stats table with data

	// $(function() {
	// 	$('form')
	// 		.bind('ajax:success', function(e, data, status, xhr) {
	// 			console.log("success json: ", jQuery.parseJSON(xhr.responseText));
	// 		 	$('#current_score').html(data.points);

	// 		})
	// 		.bind('ajax:error', function(e, data, status, xhr) {
	// 			console.log("error json: ", jQuery.parseJSON(xhr.responseText));
 	//      });
	// })

</script> -->