<header>

<p class="navbar-text pull-right">
	<% if user_signed_in? %>
	  Logged in as <strong><%= current_user.email %></strong>.
	  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	<% else %>
	  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
	  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
	<% end %>
</p>

	<div id="ga" data-href="http://rickrampage.herokuapp.com" data-ref="<%= current_user.twitter_handle if current_user %>">
		<a href="https://generalassemb.ly/education/web-development-immersive?utm_campaign=2014+Q1+Other+%5Bsydney%5D+wdi3-student-project&utm_medium=ga_public_engagement&utm_source=rickrampage#" target="new"><img style="height:auto; width:auto; max-width:250px; max-height:25px;" src="https://d3o09jpaxs6yh2.cloudfront.net/production/assets/ga-lockup-91b6faf530625d6c62c44ae5fae9aa46.png"></a>
	</div>

</header>

<% if notice %>
	<p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert alert-error"><%= alert %></p>
<% end %>